.container {
  margin: 0 auto;
  width: 390px;
  text-align: center;
}
.timer {
  background-color: rgb(220, 246, 246);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  text-align: center;
  width: 70px;
  padding: 5px;
}
.value {
  font-size: 25px;
  background-color: azure;
  border-radius: 10px;
}
.label {
  color: rgb(28, 195, 28);
}
