.timer {
    background-color: rgb(220, 246, 246);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
   padding: 10px;
}
.value {
  font-size: 35px;
}
.label{
    color: rgb(28, 195, 28);
}