img{
  margin: 0 auto;
}
.timer {
  background-color: rgb(220, 246, 246);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 80px;
}
.value {
  font-size: 35px;
  background-color: azure;
  border-radius: 10px;
}
.label {
  color: rgb(28, 195, 28);
}
.btn-field {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
