.container {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}
img {
  margin: 0 auto;
  max-width: 100%;
}
.timer {
  background-color: rgb(220, 246, 246);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  width: 80px;
}
.value {
  font-size: 25px;
  background-color: azure;
  border-radius: 10px;
}
.label {
  color: rgb(28, 195, 28);
}
.btn-field {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
