body {
  font-family: sans-serif;
  background-color: azure;
}
.form {
  text-align: center;
}
.input {
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}
.btn {
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(89, 192, 237);
  color: #fff;
  cursor: pointer;
}
.js-news-container {
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.article-card {
  width: 30%;
  text-align: center;
  border-radius: 15px;
  background-color: beige;
  padding: 20px;
}
.article-img {
  width: 100%;
  border-radius: 15px;
}
.article-link {
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  background-color: antiquewhite;
  padding: 10px;
}
