body {
  font-family: sans-serif;
  background-color: azure;
}

.form {
  text-align: center;
}
.input {
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}
.btn {
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(89, 192, 237);
  color: #fff;
  cursor: pointer;
}
.seach-more {
  display: block;
  width: 300px;
  margin: 20px auto;
}
.js-news-container {
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.article-card {
  width: 30%;
  text-align: center;
  border-radius: 15px;
  background-color: beige;
  padding: 20px;
}
@media screen and (max-width: 770px) {
  .article-card {
    width: 100%;
  }
}
.article-img {
  width: 100%;
  border-radius: 15px;
}
.article-link {
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  background-color: antiquewhite;
  padding: 10px;
}
.article-author {
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.up {
  font-size: 30px;
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  width: 6.25rem;
  height: 6.25rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(118, 243, 73);
}
