@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}

body {
  background-image: url(../image/weather-2.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-container {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  font-family: 'Montserrat', sans-serif;
  /* background-color: #808fa9; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  /* -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.5); */
  background-color: rgb(34, 40, 49, 0.4);
  /* background: rgba(255,255,255,.5); */
  color: #ffffff;
  height: 600px;
  width: 390px;
}

.weather-side {
  text-align: center;
  border-radius: 25px;
  background-color: rgba(145, 214, 237, 0.6);
  width: 100%;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 3em;
}

.weather-desc {
  margin: 0;
}

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.today-info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 5px 25px;
  /* background-color: rgb(34, 40, 49, 0.5); */
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
}

.location-button {
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

/* -------------- */

.temp-container {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.form {
  /* display: flex;
  flex-direction: row;
  gap: 30;
  margin-bottom: 30px;
  text-align: center; */

  max-width: 100%;
  width: 390px;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 25px;
  padding: 8px 12px;
  font-size: 1em;
  display: flex;
  box-shadow: -3px -3px 20px #fff, 5px 5px 20px #919dcc;
}
.input {
  width: 90%;
  color: black;
  border-radius: 5px;
  /* text-shadow: 0.5px 0.5px #3d3d3d; */
  background-color: rgba(255, 255, 255, 0.748);
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding: 0.7em;
}

.btn {
  text-shadow: 0.5px 0.5px #fff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  box-shadow: -3px -3px 15px #fff, 3px 3px 15px #919dcc;
}
