* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  /* background-image: url(../image/weather.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

form label,
form textarea {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100px;
}
